h1{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 12px;
}
h2{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 2em;
}

/* ---------------NAVIGATION-------------------- */
.navigation{
	display: flex;
	flex-flow: row wrap; 
	align-items: center;
	background-color: #333;
}
.right-nav a{
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 2.6em;
}
.right-nav a:hover{
	background-color: #FFF;
	color: #333;
}
.right-nav{
	display: flex;
}
.logo{
	width: 100px;
	height: 100px;
	background-image: url("../img/logo.png");
	background-color: blue;		/*fallback color*/
	border-radius: 50%;
	background-position: center center;
	background-size: cover;
	transform: rotate(45deg);
}
.logo-item{
	margin-right: auto;
}
/* ------------- ./NAVIGATION-------------------- */

.banner{
	height: 500px;
	width: 100vw;
	background-image: url("../img/banner.jpg");
	background-color: blue;		/*fallback color*/
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-message{
	width: 500px;
	height: 100px;
	background-color: rgba(0,0,0,0.8);
	color: #FFF;
	border-radius: 25px;
	padding: 2em;
	overflow: hidden;
	
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.row{
	padding: 3em 0;
}
.ventures{
	display: flex;
	justify-content: space-evenly;
}
.venture{
	width: 500px;
	height: 400px;
	background-color: #333;
	
	/* For image background zooming within parent containers */
	position: relative;
	overflow: hidden;
}
.paris-c{ background-image: url("../img/paris.jpg"); }
.london-c{ background-image: url("../img/london.jpg"); }
.rome-c{ background-image: url("../img/rome.jpg"); }

.paris-c, .london-c, .rome-c{
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: scale(1);
	transition: all .5s ease-out;
	
	/* adjusting title to center */
	display: flex;
	justify-content: center;
	align-items: center;
}
.paris-c::before,
.london-c::before,
.rome-c::before{
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
}
.paris-c:hover,
.london-c:hover,
.rome-c:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.paris:hover .paris-c:before,
.london:hover .london-c:before,
.rome:hover .rome-c:before{
	display: block;
}
.paris:hover span,
.london:hover span,
.rome:hover span{
	display: block;
}

.hidden{
	display: none;
}

#itinerary{
	padding-bottom: 2em;
}
.trip{
	padding: 2em;
	font-size: 1.4em;
	background-color: rgba(0,0,0,0.5);
	color: #FFF;
	margin: 0 1em;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

span{
	color: #FFF;
	font-size: 3em;
	position: absolute;
	display: none;
	pointer-events: none; /* avoid js errors when clicking titles */
}

footer{
	background-color: #333;
	color: #FFF;
	padding: 2em;
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ------------- MEDIA-QUERIES -------------------- */
@media only screen and (max-width: 600px) {
	h2{
		padding: 10px;
	}
	.navigation{
		justify-content: center;
		overflow: hidden;
	}
	.right-nav{
		width: 100vw;
		
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.right-nav a{
		padding: 1em 0;
	}
	.logo-item{
		margin: auto;
		margin-top: 1em;
	}
	.banner{
		background-position: center center;
	}
	.banner-message{
		width: 100vw;
	}
	.ventures{
		flex-flow: row wrap;
	}
	.venture{
		width: 100%;
	}
	.paris-c::before,
	.london-c::before,
	.rome-c::before, 
	span{
		display: block;
	}
}